::selection {
  color: white;
  background: rgb(222, 190, 93);
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100% !important;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f4f4f5;
  scroll-behavior: smooth;
}
body {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */
.app {
  display: block;
}

section {
  height: 100% !important;
}

._access-icon {
  left: 0 !important;
  bottom: 2rem !important;
}

.fixed {
  z-index: 9999; /* Try this higher value */
}

@media only screen and (max-height: 568px) and (max-width: 360px) {
  .aboutus_title {
    padding-bottom: 1rem;
  }
  .text-banner {
    padding-top: 7rem;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  p {
    font-size: 16px !important;
  }
  .section_title {
    font-size: 23px !important;
  }
  .h2 {
    font-size: 20px !important;
  }
}
