html,
body {
  width: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Only hide horizontal scrolling */
  background-color: #f4f4f5;
  scroll-behavior: smooth;
}
body {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
section {
  height: 100% !important;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 1px;
  border-top: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
  gap: 10px;
}

.typing-wrapper {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.fixed {
  z-index: 9999; /* Try this higher value */
}
header {
  transition: background-color 0.3s ease;
}
header {
  background: none; /* Ensure there's no background color */
  padding: 0;
  margin: 0;
}

/* type writer */
.typewriter {
  overflow: hidden;
  margin: 2rem auto;
  width: 100%;
}

/* Enable typewriter effect only on large screens and above */
@media (min-width: 768px) {
  /* Tailwind’s lg breakpoint */
  .typewriter {
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

/* The typing effect keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ARROW ANIMATION */
.arrow {
  padding: 10px;
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}
