html,
body {
  width: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
body {
  font-family: 'Heebo', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 5px;
  border-top: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
  text-align: center;
  overflow: hidden;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.static-text {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap; /* Prevents line break */
}

.typing-wrapper {
  overflow: hidden; /* Ensures the typing text is contained */
  width: 100%; /* Adjust as necessary to fit the desired space */
}

.typing-text {
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
}
